@charset 'UTF-8';

.tabs {
  margin-top: 50px;
  margin-bottom:20px;
}

.tabs .tab {
  background: #ccc;
  padding: 5px;
}

.tabs .active {
  background: white;
  border: 1px solid black;
  border-bottom-width: 0;
}

.content .tab {
  display: none;
}

.content .active {
  display: block;
}

.item {
  border-style: solid;
  border-width: 1px;
  margin: 5px;
}

.description {
  padding:0 0 0 5px;
}

.categories {
  font-size: 9px;
  color: gray;
  padding: 0 0 0 10px;
}